$color:#1c2635;

.hotmovie{
	width: 100vw;
	overflow: hidden;
	header{
		width: 100vw;
		height: 3rem;
		background: $color;
		position: relative;
		overflow: hidden;
		.am-icon{
			position: absolute;
			top:.5rem;
		}
		.choice{
			width: 60%;
			height: 2rem;
			margin: .5rem auto;
		}
		.am-segment-item{
			border:1px solid black;
			color:#999;
		}
	}
	.not-active{
		display: none;
	}
	.movie-list{
		display: flex;
		width: 200vw;
		transition: transform .5s ease;
		.hot-movie-futrue,.hot-movie-now{
			width: 100vw;
		}
	}
}