.search{
	width: 100%;
	margin-top: 1rem;
	display: flex;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 3rem;
	line-height: 2.5rem;
	padding-bottom: .5rem;
	box-sizing: border-box;
	border-bottom: 1px solid #BBB;
	.location{
		width: 20%;
		position: relative;
		.am-icon{
			position: absolute;
			right: .5rem;
			top:.5rem;
		}
	}
	.search-bar{
		width: 80%;
		border: 1px solid #BBB;
		border-radius: .5rem;
		text-align: center;
		color:#BBB;
		position: relative;
		.am-icon{
			position: absolute;
			left:.5rem;
			top:.5rem;
		}
	}
}